@import url(fonts.css);

:root {
  --primary-color-1: #2C2E43;
  --primary-color-2: #DD5353;
  --primary-color-3: #B73E3E;
  --primary-color-4: #DBC8AC;
  --primary-color-5: #EDDBC0;
  --primary-color-6: #B2B1B9;

  --success-color-1: #00C897;
  --error-color-2: #DB2D43;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  direction: rtl;
}

body {
  direction: ltr;
  font-family: "Vazir";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

::-webkit-scrollbar {
  width: 8px;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-track {
  background-color: transparent;
  border-radius: 20px;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color-2);
  border-radius: 20px;
  border: 2px solid transparent;
  background-clip: content-box;
  transition: all 0.3s ease-in-out;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--primary-color-3);
  transition: all 0.3s ease-in-out;
  background-clip: content-box;
}

.mt-20 {
  margin-top: 20px !important;
}

.mt-30 {
  margin-top: 30px !important;
}

.mt-40 {
  margin-top: 40px !important;
}

/* inputs and buttons */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  box-shadow: 0 0 0 1000px white inset !important;
  transition: background-color 3600s ease-in-out 0s;
}

input:-webkit-autofill {
  -webkit-text-fill-color: var(--primary-color-1) !important;
}

input,
button {
  border: 1px solid rgb(178, 177, 185, 0.3);
  border-radius: 5px;
  color: var(--primary-color-1);
  height: 45px;
  min-width: 100%;
  background: transparent;
  font-family: "Vazir";
  font-size: 14px;
  padding: 8px 8px 8px 8px;
  transition: all 0.3s ease-in-out;
}

#contact-search-box {
  height: 45px;
  text-align: right;
  padding-right: 12px;
  border: 3px solid var(--primary-color-2);
  background-color: #f8eaea;
  caret-color: var(--primary-color-3);
}

#menu-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 10px 8px 10px 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
}

#menu-bar div:nth-child(2) {
  flex: 1;
}

.menu-icon {
  color: white;
}

#contact-search-box::placeholder {
  color: var(--primary-color-6);
}

button {
  background: var(--primary-color-2);
  border: 1px solid var(--primary-color-2);
  color: white;
  font-weight: bold;
  cursor: pointer;
}

input:focus {
  outline: none !important;
  border: 1px solid var(--primary-color-6);
  /* box-shadow: 0 0 10px #719ECE; */
}

input:hover {
  outline: none !important;
  border: 1px solid var(--primary-color-6);
}

button:hover {
  color: var(--primary-color-2);
  border: 1px solid var(--primary-color-3);
  background: white;
}

/* end of inputs and buttons */

.window {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-color: white;
}

.layout {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 10px;
  width: 480px;
  height: 460px;
  position: absolute;
  top: calc(50% -200);
  left: calc(50% - 200px - 60);
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.wide-600px {
  width: 600px;
}

.login-panel,
.new-user-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: right;
  text-align: right;
  width: 100%;
  padding: 10px 60px;
}

.login-panel h1,
.new-user-panel h1 {
  font-family: "Lalezar";
  color: var(--primary-color-1);
}

.login-panel h3,
.new-user-panel h3 {
  font-family: "Vazir";
  font-size: 0.85em;
  font-weight: normal;
  color: var(--primary-color-1);
}

.login-panel #label,
.new-user-panel #label {
  font-size: 10px;
  margin: 20px 0 5px 0;
  color: var(--primary-color-1);
}

.login-panel #label #required,
.new-user-panel #label #required {
  color: var(--error-color-2);
}

.login-panel #error,
.new-user-panel #error {
  font-size: 10px;
  margin: 5px 0 0px 0;
  color: var(--error-color-2);
}

.text-left {
  text-align: left;
  direction: ltr;
}

.username,
.password {
  position: relative;
}

.username .btn-eraser,
.password .btn-eye {
  position: absolute;
  top: calc(50% - 9px);
  right: 10px;
  cursor: default;
  color: var(--primary-color-6);
}

.btn-disabled {
  background: #e5e5e6 !important;
  color: var(--primary-color-2) !important;
  cursor: not-allowed !important;
  border: none !important;
}

.btn-disabled:hover {
  background: #e5e5e6 !important;
  color: var(--primary-color-3) !important;
  border: none !important;
}

.username_rules {
  position: absolute;
  background-color: var(--primary-color-5);
  color: var(--primary-color-1);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.75em;
  top: 53%;
  z-index: 99;
}

.password_rules {
  position: absolute;
  background-color: var(--primary-color-5);
  color: var(--primary-color-1);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 0.75em;
  top: 26%;
  z-index: 99;
}

.username_rules h5,
.password_rules h5 {
  margin: 5px 0;
}

.username_rules ul,
.password_rules ul {
  list-style: none;
}

.username_rules ul li::before,
.password_rules ul li::before {
  content: ' - ';
}

.d-none {
  display: none;
}

.btn-bounce {
  animation: bounce 0.2s 3 forwards;
}

.two-col {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.two-col>div {
  min-width: 48%;
}

@keyframes bounce {
  0% {
    transform: translateX(0%);
  }

  20% {
    transform: translateX(-2%);
  }

  40% {
    transform: translateX(0);
  }

  60% {
    transform: translateX(2%);
  }

  80% {
    transform: translateX(1%);
  }

  100% {
    transform: translateX(0%);
  }
}


/* media queries */
@media screen and (max-width: 601px) {
  .layout {
    box-shadow: none;
    width: 480px;
    height: 450px;
    top: calc(50% -200);
    left: calc(50% - 200px - 60);
  }

  .login-panel {
    padding: 10px 30px;
  }

  .two-col {
    flex-direction: column;
  }

  .two-col>div {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .layout {
    box-shadow: none;
    width: 400px;
    height: 400px;
    top: calc(50% -200);
    left: calc(50% - 200px - 60);
  }

  .login-panel {
    padding: 10px 20px;
  }
}

@media screen and (max-width: 401px) {
  .layout {
    box-shadow: none;
    width: 100%;
    height: 400px;
    top: calc(50% -200);
    left: calc(50% - 200px - 60);
  }
}

.main-loading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
}

.main-loading h4 {
  font-weight: normal;
  font-size: 0.8em;
  margin-top: 2em;
}

#sidebar-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  color: white;
  align-items: flex-start;
  min-width: 380px;
  max-width: 380px;
  height: 100vh;
  border: 1px solid transparent;
  background-color: var(--primary-color-2);
}

#sidebar-panel .message-tile {
  padding: 10px 12px 10px 12px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  font-size: 0.85em;
  border-bottom: 1px solid rgba(255, 255, 255, 0.26);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#sidebar-panel .active-tile {
  background-color: var(--primary-color-3);
}

#sidebar-panel .message-tile:hover {
  background-color: rgba(235, 85, 85, 0.904);
}

#sidebar-panel .message-tile .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

#sidebar-panel .message-tile .col {
  display: flex;
  flex-direction: column;
  width: 80%;
  justify-content: space-evenly;
}

#sidebar-panel #thread-datetime {
  font-size: 0.83em;
}

#sidebar-panel .message-tile #message {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 90%;
}

#sidebar-panel .message-tile #message h4 {
  margin-bottom: 3px;
}

#sidebar-panel .message-tile #avatar {
  background-color: #f0ececdc;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  align-self: center;
  margin-left: 13px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#sidebar-panel .message-tile #avatar h4 {
  font-family: "RawajOutlined";
  font-size: 1.5em;
  font-weight: bold;
  color: var(--primary-color-2);
}

#message-window {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  overflow: hidden;
}

#no-message h4 {
  color: var(--primary-color-1);
  font-size: 0.9em;
  align-self: center;
}

.msg-container {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.msg-container #messages-insider {
  width: 100%;
  height: 100%;
  padding: 0 20px;
  overflow-y: auto;
}

.msg-container #messages-insider>div,
.msg-container #messages-insider>div>div {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.msg-container #messages-insider .message-box {
  background-color: #f7edde;
  width: 45%;
  padding: 12px 14px;
  margin-top: 8px;
  font-family: "Vazir";
  color: var(--primary-color-1);
  border-radius: 0 10px 10px 10px;
  white-space: pre-line;
}

.msg-container #messages-insider .sender {
  background-color: #dd53531c;
  align-self: flex-start;
  border-radius: 10px 10px 0 10px;
}

.message-box .col {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  width: 100%;
}

.message-box .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.message-box p {
  font-size: 0.8em;
  overflow-wrap: break-word;
  white-space: pre-line;
  width: 100%;
}

.message-box .download-icon {
  color: var(--primary-color-1);
  font-size: 1.1em;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.message-box .download-icon:hover {
  color: #2c2e4394;
}

.message-box .datetime {
  display: flex;
  flex-direction: row;
  font-size: 0.65em;
  margin-top: 8px;
}

.message-box .datetime div:first-child {
  margin-left: 12px;
}

.message-box .status-icon {
  color: #DB2D43;
}

.sender .row {
  flex-direction: row;
}

#send-message {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  align-self: stretch;
  position: relative;
  padding: 16px 20px 16px 20px;
}

#send-message #send-button-container {
  position: absolute;
  bottom: 24px;
  left: 32px;
}

#send-message textarea:-webkit-autofill,
#send-message textarea:-webkit-autofill:hover,
#send-message textarea:-webkit-autofill:focus,
#send-message textarea:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 1000px white inset;
  box-shadow: 0 0 0 1000px white inset;
  transition: background-color 3600s ease-in-out 0s;
}

#send-message textarea:-webkit-autofill {
  -webkit-text-fill-color: var(--primary-color-1);
}

#send-message textarea {
  border: 1px solid rgb(178, 177, 185, 0.3);
  border-radius: 5px;
  color: var(--primary-color-1);
  width: 100%;
  background: transparent;
  font-family: "Vazir";
  font-size: 14px;
  padding: 16px 12px 16px 50px;
  transition: all 0.3s ease-in-out;
  resize: none;
  overflow: hidden;
}

#send-message textarea:focus {
  outline: none !important;
  border: 1px solid var(--primary-color-4);
}

#send-message .send-button {
  transform: rotate(180deg);
  color: var(--primary-color-2);
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#send-message .send-button:hover {
  color: var(--primary-color-3);
}

.drag-and-drop {
  padding: 1px 10px;
  background-color: #fbfbfb;
  border: 1px dashed rgb(178, 177, 185, 0.3);
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  color: var(--primary-color-1);
  transition: all 0.2s ease-in-out;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 6px;
  height: 56px;
}

.drag-and-drop .container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.drag-and-drop .container div:last-child {
  font-family: 'Courier New', Courier, monospace;
  font-size: 0.95em;
}

.drag-and-drop div>div {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.drag-and-drop .container .icon {
  font-size: 1.8em;
  margin-left: 0px;
  color: var(--primary-color-6);
}

.drag-and-drop:hover {
  background-color: #f9f9f9;
  border: 1px dashed var(--primary-color-6);
}

#attachments-details {
  font-size: 0.7em;
  color: var(--primary-color-1);
  text-align: right;
  align-self: flex-start;
  padding: 5px 20px 20px 20px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

#attachments-details .info-icon {
  color: var(--error-color-1);
  margin: 2px 0 1px 5px;
  min-width: 20px;
}

#attachments-details #attach-files {
  margin-right: 10px;
}